<div id="automizely_page_builder_content" class="automizely_page_builder_wrapper" style="--apb--bg-color:#FFFFFF;--apb--font-family:Arial;--apb--heading-color:#000000;--apb--description-color:#000000"><link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial"/><link href="{{ 'automizely.9a0bbfdf.css' | asset_url }}" rel="stylesheet" type="text/css" media="all"/><div data-pb-type="Body" class="apb_body" style="background:#FFFFFF;font-family:Arial"><div data-pb-type="Layout" class="apb_layout"><div class="apb_layout_space"></div><div data-pb-type="ImageWithText" class="apb_image_with_text_section" style="max-width:960px;margin:auto"><div class="apb_image_with_text_row"><div class="apb_image_with_text_column"><a class="apb_image_with_text_img_btn apb_aline_space" href="#!" target="_self"><img src="https://websites.am-static.com/automizely/images/pages/statics/default_image.png" alt="img" class="apb_image_with_text_img" style="width:100%"/></a></div><div class="apb_image_with_text_column" style="width:0;padding:0 20px"></div><div class="apb_image_with_text_column"><div class="apb_image_with_text_heading" style="color:#000000">ABOUT US</div><div class="apb_image_with_text_text" style="color:#000000"><p>We started our product line because we know how time-consuming and expensive it is to find and buy beautiful, quality products that would last. We decided to launch our online store and focus mainly on product quality and sustainability. We&#x27;re glad that you found us, and hope you’ll enjoy our products as we do!</p></div></div></div></div><div data-pb-type="ImageWithText" class="apb_image_with_text_section" style="max-width:960px;margin:auto"><div class="apb_image_with_text_row apb_image_with_text_row_reserve"><div class="apb_image_with_text_column"><a class="apb_image_with_text_img_btn apb_aline_space" href="#!" target="_self"><img src="https://websites.am-static.com/automizely/images/pages/statics/default_image2.png" alt="img" class="apb_image_with_text_img" style="width:100%"/></a></div><div class="apb_image_with_text_column" style="width:0;padding:0 20px"></div><div class="apb_image_with_text_column"><div class="apb_image_with_text_heading" style="color:#000000">OUR MISSION</div><div class="apb_image_with_text_text" style="color:#000000"><p>We sell directly to customers, cutting out the unnecessary costs and crazy markups that make products overly expensive. We pass on the savings to you, so you get the same quality at a fraction of the cost.</p></div></div></div></div><div data-pb-type="ProductList" class="apb_product_list_section">
		

		{% assign heading = 'You might also like' %}

		{% assign description = '' %}

		{% assign action_button = true %}

		{% assign action_button_text = 'Buy now' %}

		{% assign products_column = '3' %}

		{% assign show_compare_at_price = false %}

		{% assign show_product_name = true %}

		{% assign show_product_price = true %}

		{% assign selected_products = 'nike-swoosh-pro-flat-peak-cap-1;vans-apparel-and-accessories-classic-super-no-show-socks-3-pack-white-1;nike-toddler-roshe-one-1;herschel-iona-1;converse-chuck-taylor-all-star-ii-hi-1' %}

		{% assign sample_product_content = '<div class="apb_product_list_product_item"><div class="apb_product_list_product_item_image_wrapper"><img class="apb_product_list_product_item_image" src="https://cdn.shopify.com/s/files/1/0272/1133/3702/products/58262e66c5e9731050280eb16880d5a4_f056c312-f5bc-4fae-86de-5180dac808e9.jpg?v=1623661399" alt="NIKE | SWOOSH PRO FLAT PEAK CAP"/></div><div class="apb_product_list_product_item_title">NIKE | SWOOSH PRO FLAT PEAK CAP</div><div class="apb_product_list_product_item_price">₫ 30</div><a class="apb_product_list_product_item_btn" href="https://minhpt4.myshopify.com/products/nike-swoosh-pro-flat-peak-cap-1" target="_blank">Buy now</a></div><div class="apb_product_list_product_item"><div class="apb_product_list_product_item_image_wrapper"><img class="apb_product_list_product_item_image" src="https://cdn.shopify.com/s/files/1/0272/1133/3702/products/ccba62c19289e4b5f14b180c05836614_7fb9c3a4-54fa-4d10-bfd9-a331d2c0aa8b.jpg?v=1623661390" alt="VANS APPAREL AND ACCESSORIES | CLASSIC SUPER NO SHOW SOCKS 3 PACK WHITE"/></div><div class="apb_product_list_product_item_title">VANS APPAREL AND ACCESSORIES | CLASSIC SUPER NO SHOW SOCKS 3 PACK WHITE</div><div class="apb_product_list_product_item_price">₫ 20</div><a class="apb_product_list_product_item_btn" href="https://minhpt4.myshopify.com/products/vans-apparel-and-accessories-classic-super-no-show-socks-3-pack-white-1" target="_blank">Buy now</a></div><div class="apb_product_list_product_item"><div class="apb_product_list_product_item_image_wrapper"><img class="apb_product_list_product_item_image" src="https://cdn.shopify.com/s/files/1/0272/1133/3702/products/0ea90fb43c087d165cbf985098cc951e_0af6b74d-feab-449d-b82e-0da8336883c5.jpg?v=1623661384" alt="NIKE | TODDLER ROSHE ONE"/></div><div class="apb_product_list_product_item_title">NIKE | TODDLER ROSHE ONE</div><div class="apb_product_list_product_item_price">₫ 70</div><a class="apb_product_list_product_item_btn" href="https://minhpt4.myshopify.com/products/nike-toddler-roshe-one-1" target="_blank">Buy now</a></div><div class="apb_product_list_product_item"><div class="apb_product_list_product_item_image_wrapper"><img class="apb_product_list_product_item_image" src="https://cdn.shopify.com/s/files/1/0272/1133/3702/products/995988006b97471478db3371d573bfaf_211e0958-90c2-4693-bb6e-10478db47209.jpg?v=1623661393" alt="HERSCHEL | IONA"/></div><div class="apb_product_list_product_item_title">HERSCHEL | IONA</div><div class="apb_product_list_product_item_price">₫ 120</div><a class="apb_product_list_product_item_btn" href="https://minhpt4.myshopify.com/products/herschel-iona-1" target="_blank">Buy now</a></div><div class="apb_product_list_product_item"><div class="apb_product_list_product_item_image_wrapper"><img class="apb_product_list_product_item_image" src="https://cdn.shopify.com/s/files/1/0272/1133/3702/products/23550440c4ccab05e4fc1ebd85e742cc_573a2268-af3f-417b-9ef1-03d8200726ff.jpg?v=1623661376" alt="CONVERSE | CHUCK TAYLOR ALL STAR II HI"/></div><div class="apb_product_list_product_item_title">CONVERSE | CHUCK TAYLOR ALL STAR II HI</div><div class="apb_product_list_product_item_price">₫ 140</div><a class="apb_product_list_product_item_btn" href="https://minhpt4.myshopify.com/products/converse-chuck-taylor-all-star-ii-hi-1" target="_blank">Buy now</a></div>' %}

	 <div data-pb-type="ProductList" class="apb_product_list_section">
	<div class="apb_product_list_content">
		<div class="apb_product_list_title">{{ heading }}</div>
		<div class="apb_product_list_description">{{ description }}</div>
		<div
			class="apb_product_list_products"
			style="grid-template-columns: repeat({{ products_column }}, 300px)"
		>
			{% if selected_products != '' %}
				{% assign product_handles = selected_products | split: ';' %}
				{% for product_handle in product_handles %}
					{% assign p = all_products[product_handle] %}
					<div class="apb_product_list_product_item">
						<div class="apb_product_list_product_item_image_wrapper">
							<img
								class="apb_product_list_product_item_image"
								src="{{ p | img_url: '600x750' }}"
								alt="{{ p.title }}"
							/>
						</div>
						{% if show_product_name %}
							<div class="apb_product_list_product_item_title">
								{{ p.title }}
							</div>
						{% endif %}
						{% if show_compare_at_price %}
							<div class="apb_product_list_product_item_compare_at_price">
								{{ p.compare_at_price | money_with_currency }}
							</div>
						{% endif %}
						{% if show_product_price %}
							<div class="apb_product_list_product_item_price">
								{{ p.price | money_with_currency }}
							</div>
						{% endif %}
						{% if action_button %}
							<a
								class="apb_product_list_product_item_btn"
								href="{{ p.url }}"
							>
								{{ action_button_text }}
							</a>
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				{{ sample_product_content }}
			{% endif %}
		</div>
	</div>
</div>

</div><div class="apb_layout_space"></div></div></div></div>

<script>
window.__apb = window.__apb || {};
window.__apb["page"] = {
  "id": "9a0bbfdf89d1420da9ef5d9efc52b277",
  "type": "regular-page"
};
window.__apb["connection_id"] = "74c2f3fdcd1245ffafbfd95db66c5124";
</script>
